body{
	background-color: #252525;
	font-family: Microsoft JhengHei;
	color: white;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

a{
	color: aqua;
}

h1{
	font-weight: bolder;
}

table{
	font-family: consolas;
	font-weight: bold;
	border-spacing: 5px;
	border-collapse: collapse;
	width: calc(100% - 20px);
	margin-left: 20px;
}

.enum-table{
	margin-right: auto;
	width: auto;
	white-space: nowrap;
}

.enum-table td{
	width: 100px;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding-left: 5px;
}

td{
	display: table-cell;
	padding-bottom: 3px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.label tr td label {
	display: block;
}

.function-name{
	color: rgb(124, 199, 109);
}

.enum-name{
	color: #77cbd1
}

.tab{
	margin-left: 4ex;
}

p{
	color: #e2e2e2;
}